.container-show {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-img {
  display: block;
  margin: 0 auto;
  flex: 1;
}

.container-img img {
  margin-left: 20px;
  width: 60%;
}

.container-text {
  display: flex;
  justify-content: center;
  flex: 1;
}
